.scroll {
    height: 100%;

}

.hidden {
    display: none;
    /* top: -500px; */

 }
 
.shown {
    display:block;
 }
 
ion-content {
    height: calc(100vh - 44px - 70px);

}

ion-column {
    width: 100%;
}

ion-column ion-icon {
    color:gray;
}

ion-row .word-buttons {
    margin-left: .5em;
}
/* 
.word-buttons ion-button {
    width: 30%;
} */
.word-buttons ion-icon {
    color: red;
    color:#777;
    font-size: 2em;
}

ion-card .study-word {
    display: block;
    background-color: inherit;
    color: inherit;
}

ion-card .hide-study-word {
    /* display: none; */
    background: #eee;
    color: #eee;
    opacity: .5;
}

.footer-vocabulary{
    z-index: 100;
    background-color: white;
    position: fixed;
    bottom: 0px;
    left: 0;
    height: 2.5em;
    width: 100%;
    /* border-top: 1px solid #CCC; */
  }

 .footer-vocabulary .tab {
    cursor: pointer;
    float: left;
    fill:white;
    width: 50%;
    text-align: center;
    border-right: 1px solid #cccccc ;
    border-top-right-radius: 15px;
}

.tab:last-child {
    border-right: unset;
  }


#floatingMenu{
    position: absolute;
    top:50px;
    color:red;
    z-index: 10;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
}

.showSource{
    filter: invert(45%) sepia(0%) saturate(0%) hue-rotate(279deg) brightness(104%) contrast(96%)
}
.hideSource {
    filter: invert(100%) sepia(7%) saturate(7474%) hue-rotate(287deg) brightness(104%) contrast(115%);

}

.filter-gray{
    /* filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%); */
    filter: invert(45%) sepia(0%) saturate(0%) hue-rotate(279deg) brightness(104%) contrast(96%)
}

.filter-disabled{
    filter: invert(73%) sepia(11%) saturate(12%) hue-rotate(16deg) brightness(91%) contrast(90%);

}
.filter-white{
    filter: invert(100%) sepia(7%) saturate(7474%) hue-rotate(287deg) brightness(104%) contrast(115%);
}

@media (min-width:40em)  { /* ipad and higher*/ 
    ion-column {
        width: 50%;
    }
}
@media (min-width:48em)  { /* ipad and higher*/ 
    /* ion-card {
        margin-left:25%;
    } */
    ion-column {
        width: 50%;
    }
    ion-content {
        padding: left 200px important!;
    }

}
