.hidden {
    display: none;
 }
 
 .shown {
    display:block;
 }
 
 #loading {
     width:100%;
     /* color:red; */
     /* background-color: orange; */
 }

 html {
    overflow:   scroll;
  }
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
  }

 /* .no-scroll {
    --overflow: hidden;
} */

#loading ion-img {
    position: absolute;
    top:20%;
    z-index: 10;
    background: #dddddd;
    left:50%;
    opacity: .85;
}

.footer{
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 2.5em;
  width: 100%;
  /* border-top: 1px solid #CCC; */
}
.tab {
    cursor: pointer;
    float: left;
    fill:white;
    width: 33.33%;
    text-align: center;
    border-right: 1px solid #cccccc ;
    border-top-right-radius: 15px;
}

.tab:last-child {
    border-right: unset;
  }

.tab ion-icon {
    color:red;
    color   : #555555;
    font-size:1.5em;
    padding:1em;
}
/* 
.tab img {
    color: #555555;
    width: 1.5em;
    height: 1.5em;
} */


ion-button {
    cursor: pointer;
}

ion-icon {
    color: white;
}

ion-title {
 color: white;
 padding-top: 10px;
}

#menu {
    position: relative;
    float: left;
    color: red;
    /* display:inline-block; */
    overflow-y: visible;

}

#appTitle {
    text-transform: uppercase;
    padding-top: 15px;
    font-size: 1.2em;
    /* font-family: var(--ion-font-family, inherit); */
}
ion-title {
    position: relative;
    float: left;
}

.modal {
    /* display: none; Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 20;
    top: 70px;
    width: 90%; /* Full width */
    height: auto; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(252, 247, 247); /* Fallback color */
    background-color: rgba(250, 246, 246, 0.97); /* Black w/ opacity */
    box-shadow: 8px 8px 10px -4px #777777;
  }


    @media (min-width:20em)  { /* iphone 5/SE */ 
        #loading ion-img {
            left:33%;
        }
    }

    @media (min-width:22em)  { /* galaxy s5 */ 
        #loading ion-img {
            left: 35%;
        }
    }

    @media (min-width:23em)  { /* iphone 6/7/8 */ 
        #loading ion-img {
            left:8.5em;
            /* background-color: red; */

        }
    }

    @media (min-width:24em)  { /* pixel 2, iphone 6/7/8 plus */ 
        #loading ion-img {
            left:9.5em;
            /* background-color: blue; */

        }
    }

    @media (min-width:48em)  { /* ipad and higher*/ 
        #loading ion-img {
            left:43%;
        }
        .modal {
            width: 50%;
        }
    }

    @media (min-width:64em)  { /* ipad pro  */ 
        #loading ion-img {
            left:45%;
        }   
    }

